<!-- Footer -->
<footer th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml"
        class="bg-dark text-center text-white "> <!--'fixed-bottom'-->
    <!-- Grid container -->
    <div class="container p-2">
        <!-- Section: Social media -->
        <section class="mb-2">
            <!-- Facebook -->

            <a class="btn btn-outline-light btn-circle m-1" href="#" role="button">
                    <i  class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-circle m-1" href="#" role="button"
            ><i class="fab fa-twitter"></i
            ></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-circle m-1" href="#" role="button"
            ><i class="fab fa-google"></i
            ></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-circle m-1" href="#" role="button"
            ><i class="fab fa-instagram"></i
            ></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-circle m-1" href="#" role="button"
            ><i class="fab fa-linkedin-in"></i
            ></a>

        </section>

    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-white" href="/">SmartOwl.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->