<div th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">
    <!--Nav bar-->
    <nav style="margin: 0" class="navbar navbar-expand navbar-light bg-light"> <!--'fixed-top'-->
        <div style="width: 105%" class="row justify-content-between">

            <!--Left elements-->
            <div class="col">
                <div class="d-flex justify-content-start">

                    <!--Logo-->
                    <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="/">
                        <img
                                src="https://image.flaticon.com/icons/png/512/43/43556.png"
                                height="50"
                                alt=""
                                style="margin-top: 2px;"
                        />
                    </a>

                    <!--Links-->
                    <div class="w-auto my-auto d-none d-sm-flex">
                        <ul class="navbar-nav mr-auto">
                            <li style="margin-left: 5px"  class="nav-item active">
                                <a class="nav-link btn btn-light" href="/books">Store</a>
                            </li>
                            <li style="margin-left: 5px" class="nav-item active">
                                <a class="nav-link btn btn-light" href="/authors">Authors</a>
                            </li>
                            <li style="margin-left: 5px" class="nav-item active">
                                <a class="nav-link btn btn-light" href="/genres">Genres</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <!-- Center elements -->
            <div class="col">
                <div class="d-flex justify-content-center">
                    <h1 style="font-family: 'Akaya Telivigala', cursive; font-size: 48px">Smart Owl</h1>
                </div>
            </div>

            <!-- Right elements -->
            <div class="col">
                <div class="d-flex justify-content-end">
                    <a class="nav-link d-sm-flex align-items-sm-center" href="#">
                        <img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSm6gzGJM5cK-94itPlBy6r4TClx1iVS1z02g&usqp=CAU"
                                height="40"
                                alt=""
                                style="margin-top: 2px;"
                        />
                    </a>
                </div>
            </div>

        </div>
    </nav>
</div>