<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="/star.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Book</title>
</head>
<body>

<div class="row container w-25">
    <div class="starrating risingstar d-flex flex-row-reverse">
        <input type="radio" id="star5" name="rating"/><label for="star5"></label>
        <input type="radio" id="star4" name="rating"/><label for="star4"></label>
        <input type="radio" id="star3" name="rating"/><label for="star3"></label>
        <input type="radio" id="star2" name="rating"/><label for="star2"></label>
        <input type="radio" id="star1" name="rating"/><label for="star1"></label>
    </div>
</div>

</body>
</html>