<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<!--Nav bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="row justify-content-between w-100">

        <!--Left elements-->
        <div class="col">
            <div class="d-flex justify-content-start">

                <!--Logo-->
                <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="/">
                    <img
                            src="https://image.flaticon.com/icons/png/512/43/43556.png"
                            height="50"
                            alt=""
                            style="margin-top: 2px;"
                    />
                </a>

                <!--Links-->
                <div class="w-auto my-auto d-none d-sm-flex">
                    <ul class="navbar-nav mr-auto">
                        <li style="margin-left: 5px"  class="nav-item active">
                            <a class="nav-link btn btn-light" href="/books">Store</a>
                        </li>
                        <li style="margin-left: 5px" class="nav-item active">
                            <a class="nav-link btn btn-light" href="/authors">Authors</a>
                        </li>
                        <li style="margin-left: 5px" class="nav-item active">
                            <a class="nav-link btn btn-light" href="/">Genres</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <!-- Center elements -->
        <div class="col">
            <div class="d-flex justify-content-center">
                <h1>Smart Owl</h1>
            </div>
        </div>

        <!-- Right elements -->
        <div class="col">
            <div class="d-flex justify-content-end">
                <a class="nav-link d-sm-flex align-items-sm-center" href="#">
                    <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSm6gzGJM5cK-94itPlBy6r4TClx1iVS1z02g&usqp=CAU"
                            height="40"
                            alt=""
                            style="margin-top: 2px;"
                    />
                </a>
            </div>
        </div>

    </div>
</nav>

<h3><a href="/books/new" class="btn btn-success" style="margin: 20px" >Add new Book</a></h3>

<div class="container">
    <div class="m-lg-3 row">
        <div class="col-md-3 p-2" align="center" th:each="book : ${book_author_list}">
            <h4>
                <a style="color: black" th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getTitle()}"></a>
            </h4>
            <h5 th:text="${'by ' + book.getAuthor()}"></h5>
            <p th:text="${book.getPrice() + '$'}"></p>
<!--            <img class="img-thumbnail" width="200" height="380" th:src="${book.getImage()}" alt="">-->
        </div>
    </div>
</div>

</body>
</html>